layout {
    pane size=2 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane size="55%" name="nvim" {
            command "nvim"
            args "."
            cwd "."
        }
        pane size="45%" split_direction="horizontal" {
            pane size="60%" name="opencode" {
                command "opencode"
                cwd "."
            }
            pane size="40%" {
                cwd "."
            }
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
